.contact {
  color: white;
  min-height: 100vh;
  // border: 2px solid red;
  position: relative;
  .contact-bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    // border: 2px solid red;
    .contact-header {
      position: absolute;
      // border: 2px solid;
      top: 5rem;
      right: 2rem;
      display: flex;
      flex-direction: column;
      .text {
        float: right;
        font-size: 1.5em;
        margin: 0;
      }
      .h1 {
        margin: 0;
        font-size: 3em;
        float: right;
      }
    }
    .terminal-box {
      position: absolute;
      top: 30%;
      left: 10%;
      width: 100%;
      max-width: 45rem;
      height: 28rem;
      box-shadow: 1px 2px 2px rgba(173, 173, 173, 0.6);
      // border: 2px solid;
      overflow-y: scroll;
      backdrop-filter: blur(40px);
      .terminal {
        font-weight: 500;
        height: 100%;
        // border: 2px solid pink;
        .btn-send {
          // background-color: rgb(28, 212, 25);
          box-shadow: 0 0 4px rgba(173, 173, 173, 0.6);
          color: rgb(74, 70, 70);
          font-weight: 500 !important;
          text-transform: capitalize;
          outline: 0;
          border: 0;
          padding: 0.3rem 0.8rem;
          font-size: 1em;
          position: relative;
          display: flex;
          margin: 0.5rem auto;
        }
        .message {
          padding: 0;
          height: fit-content;
          position: relative;
          align-items: start;
          // border: 2px solid red;
          display: flex;
          align-items: start;
          .terminal-user-input {
            // border: 2px solid;
            margin-left: 0.2rem;
            display: flex;
            justify-content: start;
            align-items: start;
            .text {
              margin-top: 0;
              color: rgba(255, 255, 255, 0.6);
              padding: 0 0.2rem;
              transition: color 1.2s ease-in-out;
            }
            textarea {
              position: relative;
              width: 25rem;
              margin-left: 0.35rem;
              font-size: 1.1rem;
              padding-left: 0.4rem;
              font-weight: 500;
              border: 0;
              outline: 0;
              background-color: rgba(100, 100, 100, 0.4);
              &:focus {
                background-color: transparent;
              }
            }
          }
        }
        #emailResponse {
          overflow: hidden;
          // border: 2px solid red;
          margin: 0;
          height: fit-content;
        }
        .terminal-row {
          display: flex;
          justify-content: start;
          align-items: center;
          // border: 2px solid;
          height: 2rem;
          .terminal-response {
            display: flex;
            justify-content: start;
            align-items: center;
            i {
              font-size: 1.2em;
              padding-left: 0.5rem;
            }
            .text {
              padding-left: 0.5rem;
            }
          }
          .terminal-user-input {
            margin-left: 0.2rem;
            display: flex;
            justify-content: start;
            align-items: center;
            .text {
              color: rgba(255, 255, 255, 0.6);
              padding: 0 0.2rem;
            }
            input {
              width: 25rem;
              margin-left: 0.35rem;
              height: 1.5rem;
              font-size: 1.1em;
              padding-left: 0.4rem;
              font-weight: 500;
              border: 0;
              outline: 0;
              background-color: rgba(100, 100, 100, 0.4);
              &:focus {
                background-color: transparent;
              }
            }
          }
        }
        .terminal-header {
          // border: 2px solid blue;
          margin-top: 0;
          position: relative;
          box-sizing: border-box;
          height: 2rem;
          background-color: rgb(57, 72, 83);
          .text {
            margin: 0;
            color: #eee;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .menu-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: fit-content;
            height: fit-content;
            padding: 0.4rem 0.8rem;
            .menu-icon {
              width: 0.8rem;
              height: 0.8rem;
              margin: 0.1rem;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    // border: 2px solid;
    .container {
      .contact-header {
        margin: 0;
        top: 2rem;
        right: 1rem;
        backdrop-filter: blur(40px);
        padding: 0.5rem 1rem;
        .text {
          font-size: 1.3rem;
          font-weight: bold;
        }
        .h1 {
          font-weight: bold;
          font-size: 2rem;
        }
      }
      .terminal-box {
        max-width: 27rem;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        .terminal {
          .text {
            font-size: 0.85rem;
          }
          form {
            input,
            textarea {
              max-width: 18rem;
              font-size: 1rem !important;
            }
            textarea {
              font-size: 0.9rem;
            }
          }
          .terminal-header {
            .menu-icon {
              width: 0.3rem;
              height: 0.3rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .contact {
    padding: 0;
    margin: 0;
    // border: 2px solid;
    position: relative;
    .container {
      position: relative;
      // border: 2px solid;
      padding: 0;
      .contact-header {
        position: relative;
        width: fit-content;
        margin: 1rem 2rem;
        backdrop-filter: blur(40px);
        padding: 0.5rem 1rem;
        .text {
          font-size: 1rem;
          font-weight: bold;
        }
        .h1 {
          font-weight: bold;
          font-size: 1.7rem;
        }
      }
      .terminal-box {
        position: relative;
        top: 0%;
        left: 0%;
        width: 90%;
        transform: translate(0%, 0%);
        margin: 5rem auto;
        .terminal {
          position: relative;
          margin: 0;
          .text {
            font-size: 0.8rem;
          }
          form {
            input,
            textarea {
              max-width: 14rem;
              font-size: 0.8rem !important;
            }
            textarea {
              font-size: 0.9rem;
            }
          }
          .terminal-header {
            .menu-icon {
              width: 0.3rem;
              height: 0.3rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .contact {
    padding: 0;
    margin: 0;
    position: relative;
    .container {
      position: relative;
      padding: 0;
      .contact-header {
        position: relative;
        width: fit-content;
        margin: 1rem 2rem;
        backdrop-filter: blur(40px);
        padding: 0.4rem 0.95rem;
        .text {
          font-size: 0.75rem;
          font-weight: bold;
        }
        .h1 {
          font-weight: bold;
          font-size: 1.3rem;
        }
      }
      .terminal-box {
        position: relative;
        top: 0%;
        left: 0%;
        width: 90%;
        transform: translate(0%, 0%);
        margin: 5rem auto;
        .terminal {
          position: relative;
          margin: 0;
          .text {
            font-size: 0.7rem;
          }
          form {
            .text {
              font-size: 0.65rem !important;
            }
            input,
            textarea {
              max-width: 9rem !important;
              max-width: 14rem;
              font-size: 0.65rem !important;
            }
            textarea {
              font-size: 0.9rem;
            }
          }
          .terminal-header {
            height: 2rem;
            .menu-icon {
              width: 0.45rem !important;
              height: 0.45rem !important;
              margin-top: 0.45rem !important;
            }
          }
        }
      }
    }
  }
}
