.hero {
  // border: 2px solid green;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  .rect-rotate {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 2px solid rgba(120, 153, 204, 700);
    position: absolute;
    bottom: 10%;
    left: 35%;
  }
  .squares {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: absolute;
    top: 5%;
    left: 8%;
    z-index: 100;
    // transform: translate(-50%, -50%);
    // border: 2px solid;
    width: fit-content;
    height: fit-content;
    .square {
      background: linear-gradient(
        215deg,
        #16063b,
        rgba(120, 153, 204, 700),
        rgba(120, 153, 204, 400)
      );
      opacity: 0.7;
      box-shadow: 1px 2px 3px #0f0429;
      margin: 0.3rem;
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      // background-color: rgba(54, 179, 238, 0.7);
      // box-shadow: 0 0 2px rgb(139, 189, 236);
    }
  }
  .nav-pop-up {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 9rem;
    height: fit-content;
    padding: 1rem 2rem;
    z-index: 99999;
    background: linear-gradient(
      230deg,
      rgba(120, 153, 220, 100),
      rgba(120, 153, 204, 400),
      rgb(120, 153, 220)
    );

    border-radius: 12px;
    clip-path: circle(13% at 82% 14%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      clip-path: circle(100% at 40% 40%);
    }
    i {
      padding: 1.2rem 1.4rem;
      // border: 2px solid;
      border-radius: 2rem;
      font-size: 1.4em;
      color: #fff;
      float: right;
      margin: -1rem -1.2rem;
      &:hover {
        color: transparent !important;
      }
    }
    .text {
      margin-top: 0;
      font-size: 0.7rem;
    }
    .h5 {
      font-size: 1.6rem;
    }
  }
  .column {
    margin: 0;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    // border: 2px solid red;
  }
  .col-md-2 {
    // border: 2px solid indigo;
    background-color: rgb(22, 25, 60);
    width: 5rem;
    nav {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .logo {
        font-size: 3em;
        padding: 1rem;
        &:hover {
          color: rgb(100, 150, 220);
        }
      }
      .github-link {
        font-size: 2em;
        &:hover {
          color: rgb(100, 150, 220);
        }
      }
      .nav-links {
        width: 100%;
        min-height: 60%;
        // border: 2px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: rotate(-180deg);
        flex-direction: column;
        .nav-link {
          writing-mode: vertical-rl;
          font-size: 1.2em;
          padding: 0.5rem;
          margin: 0.5rem auto;
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }
  .col-md-6 {
    z-index: 100;
    // border: 2px solid red;
    max-width: 45rem;
    .hero-intro {
      margin-top: 3rem;
      // border: 2px solid #222222;
      width: fit-content;
      padding: 0;
      position: relative;
    }
    .hero-title {
      padding-top: 2rem;
      margin: 0;
      font-size: 5em;
      width: 100%;
    }
    .h4 {
      margin: 0;
      // border: 2px solid red;
      padding: 0;
      font-size: 1.8em;
    }
    .text {
      max-width: 40rem;
      line-height: 1.8rem;
      font-size: 1.1em;
      font-weight: 500;
      color: rgb(230, 230, 220);
      // border: 2px solid red;
    }
  }
  .col-md-4 {
    // border: 2px solid blue;
    width: 100%;
    max-width: 20em;
    padding-top: 2rem;
    position: relative;
    .grid {
      // max-width: 20rem;
      // border: 2px solid red;
      display: grid;
      margin-left: -10rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .gridBox {
      background-color: transparent;
      padding: 0.6rem;
      margin: 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 50%;
    }

    .gridBox:hover {
      background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.5),
        rgba(28, 8, 74, 0.6)
      );
      box-shadow: 1px 2px 3px rgba(28, 8, 74, 0.6);
    }

    .dot-point {
      border-radius: 50%;
      background: linear-gradient(
        to bottom,
        #16063b,
        rgba(120, 153, 204, 700),
        rgba(120, 153, 204, 400)
      );
      box-shadow: 1px 2px 3px #0f0429;
      padding: 0.32rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .hero {
    position: relative;
    // border: 2px solid;
    overflow: hidden;
    .rect-rotate {
      left: 80%;
    }
    .nav-pop-up {
      padding: 1rem;
      top: 10%;
      right: 5%;
      clip-path: circle(10% at 88% 12%);
      i {
        font-size: 1.1rem;
        top: -5%;
        right: 3%;
      }
      .h5 {
        font-size: 1.3rem;
      }
      .text {
        font-size: 0.8rem;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    .squares {
      z-index: 10;
    }
    .col-md-2 {
      margin: 0;
      width: 4rem;
      // border: 2px solid;
      width: 100%;
      height: 4rem;
      .logo {
        font-size: 1.8em !important;
      }
      nav {
        display: flex;
        flex-direction: row;
        background-color: rgb(33, 35, 90);
        .nav-links {
          // border: 2px solid;
          display: flex;
          flex-direction: row;
          transform: rotate(0);
        }
        .nav-link {
          writing-mode: horizontal-tb !important;
          width: fit-content;
          height: auto;
          // border: 2px solid;
          font-size: 1rem;
          line-height: 1.8rem;
          word-spacing: 4px;
          padding: 0 !important;
        }
        .github-link {
          font-size: 1.8em;
          padding: 0 0.8rem;
        }
      }
    }
    .col-md-6 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 0 1rem;
      width: 100%;
      // border: 2px solid;
      margin: 0;
      padding: 0.5rem 1rem;
      .hero-intro {
        padding: 1rem;
      }
      .hero-title {
        font-size: 3em;
      }
      .h4 {
        font-size: 1.5em;
      }
      .text {
        font-size: 1em;
        line-height: 1.4rem;
      }
    }
    .col-md-4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      // border: 2px solid;
      .grid {
        opacity: 0.5;
        // max-width: 100%;
        .gridBox {
          padding: 0.4rem;
        }
        margin: 0;
        .dot-point {
          width: 0.01rem;
          height: 0.01rem;
          padding: 0.25rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .hero {
    position: relative;
    // border: 2px solid;
    overflow: hidden;
    .rect-rotate {
      left: 80%;
    }
    .nav-pop-up {
      padding: 1rem;
      top: 10%;
      right: 5%;
      clip-path: circle(10% at 88% 12%);
      i {
        font-size: 1.1rem;
        top: -5%;
        right: 3%;
      }
      .h5 {
        font-size: 1.3rem;
      }
      .text {
        font-size: 0.8rem;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    .squares {
      z-index: 10;
    }
    .col-md-2 {
      margin: 0;
      width: 4rem;
      overflow: hidden;
      // border: 2px solid;
      width: 100%;
      height: 4rem;
      background-color: rgb(33, 35, 90);
      .logo {
        font-size: 1.4em !important;
      }
      nav {
        max-width: 90% !important;
        margin: 0 auto !important;
        padding: 0 !important;
        // border: 2px solid;
        display: flex;
        flex-direction: row;
        .nav-links {
          max-width: fit-content;
          padding: 0 !important;
          margin: 0;
          // border: 2px solid;
          display: flex;
          flex-direction: row;
          transform: rotate(0);
        }
        .nav-link {
          writing-mode: horizontal-tb !important;
          width: fit-content !important;
          height: auto;
          // border: 2px solid;
          margin: 0 !important;
          font-size: 0.85rem !important;
          line-height: 1.8rem;
          word-spacing: 4px;
          padding: 0.2rem 0.25rem !important;
        }
        .github-link {
          margin-right: 5%;
          font-size: 1.2em;
          padding: 0 0.4rem;
        }
      }
    }
    .col-md-6 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 0 1rem;
      width: 90% !important;
      // border: 2px solid;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      .hero-intro {
        padding: 0.8rem;
      }
      .hero-title {
        font-size: 2.7em;
      }
      .h4 {
        font-size: 1.3em;
      }
      .text {
        font-size: 0.85em;
        line-height: 1.3rem;
      }
    }
    .col-md-4 {
      max-width: 100% !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      // border: 2px solid;
      .grid {
        opacity: 0.5;
        // max-width: 100%;
        .gridBox {
          padding: 0.3rem;
        }
        margin: 0;
        .dot-point {
          padding: 0.25rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .hero {
    position: relative;
    overflow: hidden;
    .rect-rotate {
      left: 80%;
    }
    .nav-pop-up {
      width: 7rem;
      padding: 1rem;
      top: 10%;
      right: 5%;
      clip-path: circle(10% at 85% 14.5%);
      i {
        font-size: 0.9rem;
        top: -5%;
        right: 3%;
      }
      .h5 {
        font-size: 1rem;
      }
      .text {
        font-size: 0.6rem;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    .squares {
      z-index: 10;
    }
    .col-md-2 {
      margin: 0;
      overflow: hidden;
      // border: 2px solid;
      width: 100%;
      height: 3rem;
      background-color: rgb(33, 35, 90);
      .logo {
        font-size: 1.35rem !important;
      }
      nav {
        max-width: 90% !important;
        margin: 0 auto !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        .nav-links {
          max-width: fit-content;
          padding: 0 !important;
          margin: 0;
          display: flex;
          flex-direction: row;
          transform: rotate(0);
        }
        .nav-link {
          writing-mode: horizontal-tb !important;
          width: fit-content !important;
          height: auto;
          margin: 0 !important;
          font-size: 0.75rem !important;
          padding: 0.2rem 0.25rem !important;
        }
        .github-link {
          margin-right: 5%;
          font-size: 1.1rem;
          padding: 0 0.4rem;
        }
      }
    }
    .col-md-6 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 0 1rem;
      width: 90% !important;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      .hero-intro {
        padding: 0.8rem;
      }
      .hero-title {
        font-size: 2.1rem;
      }
      .h4 {
        font-size: 1rem;
      }
      .text {
        font-size: 0.75em;
        line-height: 1.2rem;
        font-weight: 600 !important;
        color: rgb(212, 212, 220);
      }
    }
    .col-md-4 {
      max-width: 100% !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      .grid {
        opacity: 0.5;
        // max-width: 100%;
        .gridBox {
          padding: 0.25rem;
        }
        margin: 0;
        .dot-point {
          padding: 0.2rem;
        }
      }
    }
  }
}
