.hero {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.hero .rect-rotate {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 2px solid rgb(120, 153, 204);
  position: absolute;
  bottom: 10%;
  left: 35%;
}
.hero .squares {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  top: 5%;
  left: 8%;
  z-index: 100;
  width: fit-content;
  height: fit-content;
}
.hero .squares .square {
  background: linear-gradient(215deg, #16063b, rgb(120, 153, 204), rgb(120, 153, 204));
  opacity: 0.7;
  box-shadow: 1px 2px 3px #0f0429;
  margin: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
}
.hero .nav-pop-up {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 9rem;
  height: fit-content;
  padding: 1rem 2rem;
  z-index: 99999;
  background: linear-gradient(230deg, rgb(120, 153, 220), rgb(120, 153, 204), rgb(120, 153, 220));
  border-radius: 12px;
  clip-path: circle(13% at 82% 14%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.hero .nav-pop-up:hover {
  clip-path: circle(100% at 40% 40%);
}
.hero .nav-pop-up i {
  padding: 1.2rem 1.4rem;
  border-radius: 2rem;
  font-size: 1.4em;
  color: #fff;
  float: right;
  margin: -1rem -1.2rem;
}
.hero .nav-pop-up i:hover {
  color: transparent !important;
}
.hero .nav-pop-up .text {
  margin-top: 0;
  font-size: 0.7rem;
}
.hero .nav-pop-up .h5 {
  font-size: 1.6rem;
}
.hero .column {
  margin: 0;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% 60% 30%;
}
.hero .col-md-2 {
  background-color: rgb(22, 25, 60);
  width: 5rem;
}
.hero .col-md-2 nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .col-md-2 nav .logo {
  font-size: 3em;
  padding: 1rem;
}
.hero .col-md-2 nav .logo:hover {
  color: rgb(100, 150, 220);
}
.hero .col-md-2 nav .github-link {
  font-size: 2em;
}
.hero .col-md-2 nav .github-link:hover {
  color: rgb(100, 150, 220);
}
.hero .col-md-2 nav .nav-links {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(-180deg);
  flex-direction: column;
}
.hero .col-md-2 nav .nav-links .nav-link {
  writing-mode: vertical-rl;
  font-size: 1.2em;
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-size: 1.2em;
  font-weight: 500;
}
.hero .col-md-6 {
  z-index: 100;
  max-width: 45rem;
}
.hero .col-md-6 .hero-intro {
  margin-top: 3rem;
  width: fit-content;
  padding: 0;
  position: relative;
}
.hero .col-md-6 .hero-title {
  padding-top: 2rem;
  margin: 0;
  font-size: 5em;
  width: 100%;
}
.hero .col-md-6 .h4 {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
}
.hero .col-md-6 .text {
  max-width: 40rem;
  line-height: 1.8rem;
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(230, 230, 220);
}
.hero .col-md-4 {
  width: 100%;
  max-width: 20em;
  padding-top: 2rem;
  position: relative;
}
.hero .col-md-4 .grid {
  display: grid;
  margin-left: -10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .col-md-4 .gridBox {
  background-color: transparent;
  padding: 0.6rem;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}
.hero .col-md-4 .gridBox:hover {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5), rgba(28, 8, 74, 0.6));
  box-shadow: 1px 2px 3px rgba(28, 8, 74, 0.6);
}
.hero .col-md-4 .dot-point {
  border-radius: 50%;
  background: linear-gradient(to bottom, #16063b, rgb(120, 153, 204), rgb(120, 153, 204));
  box-shadow: 1px 2px 3px #0f0429;
  padding: 0.32rem;
}

@media only screen and (max-width: 600px) {
  .hero {
    position: relative;
    overflow: hidden;
  }
  .hero .rect-rotate {
    left: 80%;
  }
  .hero .nav-pop-up {
    padding: 1rem;
    top: 10%;
    right: 5%;
    clip-path: circle(10% at 88% 12%);
  }
  .hero .nav-pop-up i {
    font-size: 1.1rem;
    top: -5%;
    right: 3%;
  }
  .hero .nav-pop-up .h5 {
    font-size: 1.3rem;
  }
  .hero .nav-pop-up .text {
    font-size: 0.8rem;
  }
  .hero .column {
    display: flex;
    flex-direction: column;
  }
  .hero .squares {
    z-index: 10;
  }
  .hero .col-md-2 {
    margin: 0;
    width: 4rem;
    width: 100%;
    height: 4rem;
  }
  .hero .col-md-2 .logo {
    font-size: 1.8em !important;
  }
  .hero .col-md-2 nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 35, 90);
  }
  .hero .col-md-2 nav .nav-links {
    display: flex;
    flex-direction: row;
    transform: rotate(0);
  }
  .hero .col-md-2 nav .nav-link {
    writing-mode: horizontal-tb !important;
    width: fit-content;
    height: auto;
    font-size: 1rem;
    line-height: 1.8rem;
    word-spacing: 4px;
    padding: 0 !important;
  }
  .hero .col-md-2 nav .github-link {
    font-size: 1.8em;
    padding: 0 0.8rem;
  }
  .hero .col-md-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0 1rem;
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .hero .col-md-6 .hero-intro {
    padding: 1rem;
  }
  .hero .col-md-6 .hero-title {
    font-size: 3em;
  }
  .hero .col-md-6 .h4 {
    font-size: 1.5em;
  }
  .hero .col-md-6 .text {
    font-size: 1em;
    line-height: 1.4rem;
  }
  .hero .col-md-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .hero .col-md-4 .grid {
    opacity: 0.5;
    margin: 0;
  }
  .hero .col-md-4 .grid .gridBox {
    padding: 0.4rem;
  }
  .hero .col-md-4 .grid .dot-point {
    width: 0.01rem;
    height: 0.01rem;
    padding: 0.25rem;
  }
}
@media only screen and (max-width: 500px) {
  .hero {
    position: relative;
    overflow: hidden;
  }
  .hero .rect-rotate {
    left: 80%;
  }
  .hero .nav-pop-up {
    padding: 1rem;
    top: 10%;
    right: 5%;
    clip-path: circle(10% at 88% 12%);
  }
  .hero .nav-pop-up i {
    font-size: 1.1rem;
    top: -5%;
    right: 3%;
  }
  .hero .nav-pop-up .h5 {
    font-size: 1.3rem;
  }
  .hero .nav-pop-up .text {
    font-size: 0.8rem;
  }
  .hero .column {
    display: flex;
    flex-direction: column;
  }
  .hero .squares {
    z-index: 10;
  }
  .hero .col-md-2 {
    margin: 0;
    width: 4rem;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    background-color: rgb(33, 35, 90);
  }
  .hero .col-md-2 .logo {
    font-size: 1.4em !important;
  }
  .hero .col-md-2 nav {
    max-width: 90% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
  }
  .hero .col-md-2 nav .nav-links {
    max-width: fit-content;
    padding: 0 !important;
    margin: 0;
    display: flex;
    flex-direction: row;
    transform: rotate(0);
  }
  .hero .col-md-2 nav .nav-link {
    writing-mode: horizontal-tb !important;
    width: fit-content !important;
    height: auto;
    margin: 0 !important;
    font-size: 0.85rem !important;
    line-height: 1.8rem;
    word-spacing: 4px;
    padding: 0.2rem 0.25rem !important;
  }
  .hero .col-md-2 nav .github-link {
    margin-right: 5%;
    font-size: 1.2em;
    padding: 0 0.4rem;
  }
  .hero .col-md-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0 1rem;
    width: 90% !important;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }
  .hero .col-md-6 .hero-intro {
    padding: 0.8rem;
  }
  .hero .col-md-6 .hero-title {
    font-size: 2.7em;
  }
  .hero .col-md-6 .h4 {
    font-size: 1.3em;
  }
  .hero .col-md-6 .text {
    font-size: 0.85em;
    line-height: 1.3rem;
  }
  .hero .col-md-4 {
    max-width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .hero .col-md-4 .grid {
    opacity: 0.5;
    margin: 0;
  }
  .hero .col-md-4 .grid .gridBox {
    padding: 0.3rem;
  }
  .hero .col-md-4 .grid .dot-point {
    padding: 0.25rem;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.h-100vh {
  height: 100vh;
}

.loader {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  background-color: rgb(50, 51, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader .h1 {
  font-size: 10em;
}
.loader .progress {
  margin-top: 0.8rem;
  position: relative;
  width: 100%;
  max-width: 40rem;
  height: 3.5rem;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  overflow: hidden;
}
.loader .progress-fill {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1%;
  height: 100%;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .loader .h1 {
    font-size: 2.8em;
  }
  .loader .progress {
    width: 90%;
    display: flex;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  background-color: #0e0425;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-sm {
  font-size: 0.7em;
  line-height: 1.6em;
  font-weight: 500;
}

.btn-primary {
  background-color: rgb(120, 160, 220);
  border: 0;
  outline: 0;
  border-radius: 0.4rem;
  padding: 0.9rem 1.5rem;
  color: #fff;
  padding: 1rem 1.4rem;
  font-size: 1.5em;
  box-shadow: 0 0 2px rgba(142, 178, 238, 0.6);
  font-weight: 500;
}
.btn-primary:hover {
  background-color: rgb(100, 150, 220);
}

.text-gradient {
  background-image: linear-gradient(to top, rgb(164, 72, 237), #00ffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  background-color: rgb(120, 160, 220);
}

.bg-secondary {
  background-color: #0e0425;
}

.h-certer {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.w-fit {
  width: fit-content;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.h5 {
  font-size: 1.5em;
}

.text-primary {
  color: rgb(120, 160, 220);
}

.vh-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-red {
  background-color: rgb(251, 54, 48);
}

.bg-blue {
  background-color: rgb(38, 191, 240);
}

.text-blue {
  color: rgb(38, 191, 240);
}

.text-green {
  color: rgb(32, 216, 113);
}

.bg-green {
  background-color: rgb(32, 216, 113);
}

@media only screen and (max-width: 600px) {
  .btn-primary {
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    letter-spacing: 2px;
  }
}
.contact {
  color: white;
  min-height: 100vh;
  position: relative;
}
.contact .contact-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}
.contact .container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.contact .container .contact-header {
  position: absolute;
  top: 5rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}
.contact .container .contact-header .text {
  float: right;
  font-size: 1.5em;
  margin: 0;
}
.contact .container .contact-header .h1 {
  margin: 0;
  font-size: 3em;
  float: right;
}
.contact .container .terminal-box {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 100%;
  max-width: 45rem;
  height: 28rem;
  box-shadow: 1px 2px 2px rgba(173, 173, 173, 0.6);
  overflow-y: scroll;
  backdrop-filter: blur(40px);
}
.contact .container .terminal-box .terminal {
  font-weight: 500;
  height: 100%;
}
.contact .container .terminal-box .terminal .btn-send {
  box-shadow: 0 0 4px rgba(173, 173, 173, 0.6);
  color: rgb(74, 70, 70);
  font-weight: 500 !important;
  text-transform: capitalize;
  outline: 0;
  border: 0;
  padding: 0.3rem 0.8rem;
  font-size: 1em;
  position: relative;
  display: flex;
  margin: 0.5rem auto;
}
.contact .container .terminal-box .terminal .message {
  padding: 0;
  height: fit-content;
  position: relative;
  align-items: start;
  display: flex;
  align-items: start;
}
.contact .container .terminal-box .terminal .message .terminal-user-input {
  margin-left: 0.2rem;
  display: flex;
  justify-content: start;
  align-items: start;
}
.contact .container .terminal-box .terminal .message .terminal-user-input .text {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 0.2rem;
  transition: color 1.2s ease-in-out;
}
.contact .container .terminal-box .terminal .message .terminal-user-input textarea {
  position: relative;
  width: 25rem;
  margin-left: 0.35rem;
  font-size: 1.1rem;
  padding-left: 0.4rem;
  font-weight: 500;
  border: 0;
  outline: 0;
  background-color: rgba(100, 100, 100, 0.4);
}
.contact .container .terminal-box .terminal .message .terminal-user-input textarea:focus {
  background-color: transparent;
}
.contact .container .terminal-box .terminal #emailResponse {
  overflow: hidden;
  margin: 0;
  height: fit-content;
}
.contact .container .terminal-box .terminal .terminal-row {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2rem;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-response {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-response i {
  font-size: 1.2em;
  padding-left: 0.5rem;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-response .text {
  padding-left: 0.5rem;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-user-input {
  margin-left: 0.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-user-input .text {
  color: rgba(255, 255, 255, 0.6);
  padding: 0 0.2rem;
}
.contact .container .terminal-box .terminal .terminal-row .terminal-user-input input {
  width: 25rem;
  margin-left: 0.35rem;
  height: 1.5rem;
  font-size: 1.1em;
  padding-left: 0.4rem;
  font-weight: 500;
  border: 0;
  outline: 0;
  background-color: rgba(100, 100, 100, 0.4);
}
.contact .container .terminal-box .terminal .terminal-row .terminal-user-input input:focus {
  background-color: transparent;
}
.contact .container .terminal-box .terminal .terminal-header {
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
  height: 2rem;
  background-color: rgb(57, 72, 83);
}
.contact .container .terminal-box .terminal .terminal-header .text {
  margin: 0;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact .container .terminal-box .terminal .terminal-header .menu-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 0.8rem;
}
.contact .container .terminal-box .terminal .terminal-header .menu-icons .menu-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.1rem;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .contact .container .contact-header {
    margin: 0;
    top: 2rem;
    right: 1rem;
    backdrop-filter: blur(40px);
    padding: 0.5rem 1rem;
  }
  .contact .container .contact-header .text {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .contact .container .contact-header .h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  .contact .container .terminal-box {
    max-width: 27rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact .container .terminal-box .terminal .text {
    font-size: 0.85rem;
  }
  .contact .container .terminal-box .terminal form input,
  .contact .container .terminal-box .terminal form textarea {
    max-width: 18rem;
    font-size: 1rem !important;
  }
  .contact .container .terminal-box .terminal form textarea {
    font-size: 0.9rem;
  }
  .contact .container .terminal-box .terminal .terminal-header .menu-icon {
    width: 0.3rem;
    height: 0.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .contact {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .contact .container {
    position: relative;
    padding: 0;
  }
  .contact .container .contact-header {
    position: relative;
    width: fit-content;
    margin: 1rem 2rem;
    backdrop-filter: blur(40px);
    padding: 0.5rem 1rem;
  }
  .contact .container .contact-header .text {
    font-size: 1rem;
    font-weight: bold;
  }
  .contact .container .contact-header .h1 {
    font-weight: bold;
    font-size: 1.7rem;
  }
  .contact .container .terminal-box {
    position: relative;
    top: 0%;
    left: 0%;
    width: 90%;
    transform: translate(0%, 0%);
    margin: 5rem auto;
  }
  .contact .container .terminal-box .terminal {
    position: relative;
    margin: 0;
  }
  .contact .container .terminal-box .terminal .text {
    font-size: 0.8rem;
  }
  .contact .container .terminal-box .terminal form input,
  .contact .container .terminal-box .terminal form textarea {
    max-width: 14rem;
    font-size: 0.8rem !important;
  }
  .contact .container .terminal-box .terminal form textarea {
    font-size: 0.9rem;
  }
  .contact .container .terminal-box .terminal .terminal-header .menu-icon {
    width: 0.3rem;
    height: 0.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
